/* Your app's SASS, go crazy, make it your own */

$subtle: #ABABAB

$largeText:30px
$mediumText:18px
$smallText: 12px

$horizontalPadding: 10px

.ionic-logo
	display: block
	margin: 15px auto
	width: 96px
	height: 96px
	

.large-text
	font-size: $largeText

.medium-text
	font-size: $mediumText

.small-text
	font-size: $smallText

.subtle-text
	color: $subtle

.pull-right
	float: right

.padding-right
	padding-right: $horizontalPadding

.strike
	text-decoration: line-through