<?xml version='1.0' encoding='utf-8'?>
<widget id="com.ericwooley.grocerylist" version="0.0.40" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Free List</name>
    <description>
        Automatically organize your grocerylist by aisle.
    </description>
    <author email="ericwooley@gmail.com" href="http://ericwooley.com">
        Eric Wooley
    </author>
    <content src="index.html" />
    <access origin="*" />
    <feature name="Geolocation">
	    <param name="ios-package" value="CDVLocation" />
	</feature>
	<feature name="NetworkStatus">
	    <param name="ios-package" value="CDVConnection" />
	</feature>
    <!-- <preference name="keyboardDisplayRequiresUserAction" value="false" /> -->
</widget>
