<ion-view title="{{list.name}}">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
  	<ion-nav-back-button class="button-clear"><i class="icon ion-chevron-left"></i> Back</ion-nav-back-button>
  </ion-nav-buttons>
  <ion-content class="has-header">
  	<ion-list class='list '>
  		<!-- Item name -->
  		<ion-item class='item-input-inset'>
  			   <div class="input-label">Name:</div>
  			   <span class="item item-input">
  			   		<input type="text" ng-model='item.name' placeholder='Item Name'>
  			   </span>
		 </ion-item>
		 <!-- Quantity -->
		 <ion-item class='item-input-inset'>
			    <div class="input-label">Quantity:</div>
			    <span class="item item-input">
			    	<input ng-model='item.qty' type='Number' placeholder='Quantity'>
			    </span>
		 </ion-item>
		 <!-- Quantity type -->
		 <ion-item class='item-input-inset'>
		     <div class="input-label">Quantity Type:</div>
			    <span class="item item-input">
			    	<!-- <input ng-model='item.unitType' type='text' placeholder='Quantity type:'> -->
			    	<angucomplete id="ex1"
			              placeholder="Search countries"
			              pause="100"
			              selectedobject="selectedCountry"
			              localdata="countries"
			              searchfields="name"
			              titlefield="name"
			              minlength="1"
			              inputclass="form-control form-control-small"/>
			    </span>
		 </ion-item>
	</ion-list>
  </ion-content>

</ion-view>
