<ion-view title="{{list.name}}">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
	<a ng-href='#/app/mylists'><button class="button button-icon icon ion-reply" id='backButton'></button></a>
  </ion-nav-buttons>
  <ion-content class="has-header">
  	<ion-list class='list '>
  		<ion-item class="item item-avatar item-icon-right" ng-href='#/app/selectlocation'>
  			<img src="{{myLocation.location.icon}}">
     		<p>
     			<span class='medium-text'>{{myLocation.location.name}}</span>
     			<br />
				<span class='subtle-text small-text' ng-show='myLocation.automatic'>Automatically Selected</span>
				<span class='subtle-text small-text' ng-hide='myLocation.automatic'>Manually Selected</span>
     		</p>
			
     		<i class="icon ion-chevron-right icon-accessory" ></i>
  		</ion-item>
  		<ion-item  class='item item-icon-right item-balanced' id='addItem' ng-click="newItem()">
  			 New Item <i class="icon ion-plus-round" ></i>
  		</ion-item>
  		<span ng-repeat="aisle in aisles track by $index" >
	  		<div class="item item-divider" >
          {{aisle.prettyKey}}
        </div>
  			<!--  -->
  			<ion-item id="{{item.itemKey}}-row" ng-click="crossOff(item, $event)" ng-repeat="item in aisle.items track by $index" class='cat-{{aisle.key}} item-icon-left item item-icon-right'  ng-show="!item.found || $parent.$parent.settings.showFound">
  				<span ng-class='{"ion-ios7-circle-outline":!item.found, "subtle-text":item.found, "ion-ios7-checkmark-outline": item.found}' class='icon large-text item-icon icon-large listCheck '></span>
  				<span ng-class='{"subtle-text":item.found}' id="{{item.itemKey}}-text" >{{item.name}}</span>
  				<a ng-href="#/app/list/{{list.id}}/item/{{item.id}}" class='pull-right editItem'>
  					<span class='editItem subtle-text' id="{{item.itemKey}}-qty">{{item.displayQty}}</span>
  					<span class='editItem subtle-text' id="{{item.itemKey}}-qtyType">{{item.qtyType}}</span>
  				</a>
  				<a ng-href="#/app/list/{{list.id}}/item/{{item.id}}" class='editItem subtle-text icon ion-ios7-compose-outline' id="{{item.itemKey}}-EditButton"></a>
  			</ion-item>
		</span>
	</ion-list>	
  </ion-content>

</ion-view>
