<ion-view title="{{item.name}}">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
  	<a ng-href='#/app/list/{{listId}}'><i class="button button-icon icon ion-reply"></i></a>
  </ion-nav-buttons>
  <ion-content class="has-header">
  	<ion-list class='list '>
  		<!-- Item name -->
		 <label class="item item-input">
	        <span class="input-label text-right">Item Name:</span>
	        <input type="text" ng-model='item.name' placeholder='Item Name'>
	      </label>
		 <!-- Quantity -->
		 <label class="item item-input">
	        <span class="input-label  text-right">Quantity:</span>
	        <input ng-model='item.qty' type='Number' placeholder='Quantity'>
	      </label>
		 <!-- Quantity type -->
	      <label class="item item-input">
	        <span class="input-label text-right">Quantity Type:</span>
	        <input ng-model='item.qtyType' type='text' placeholder='Enter Quantity Type'>
	      </label>
		 <!-- Delete Item -->
		 <ion-item class='item-input-inset'>
		     <button class='button button-assertive button-full' ng-click="deleteItem()">Delete {{item.name}}</button>
		 </ion-item>
	</ion-list>
  </ion-content>

</ion-view>
