<ion-view title="{{item.name}}">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
  	<a ng-href='#/app/list/{{listId}}'><i class="button button-icon icon ion-chevron-left"></i></a>
  </ion-nav-buttons>
  <ion-content class="has-header">
  	<ion-list class='list '>
  		<!-- Item name -->
  		<ion-item class='item-input-inset'>
  			   <div class="input-label">Name:</div>
  			   <span class="item item-input">
  			   		<input type="text" ng-model='item.name' placeholder='Item Name'>
  			   </span>
		 </ion-item>
		 <!-- Quantity -->
		 <ion-item class='item-input-inset'>
			    <div class="input-label">Quantity:</div>
			    <span class="item item-input">
			    	<input ng-model='item.qty' type='Number' placeholder='Quantity'>
			    </span>
		 </ion-item>
		 <!-- Quantity type -->
		 <ion-item class='item-input-inset'>
		     <div class="input-label">Quantity Type:</div>
			    <span class="item item-input">
			    	<input ng-model='item.qtyType' type='text' placeholder='Quantity type:'>
			    </span>
		 </ion-item>
		 <!-- Delete Item -->
		 <ion-item class='item-input-inset'>
		     <button class='button button-assertive button-full' ng-click="deleteItem()">Delete {{item.name}}</button>
		 </ion-item>
	</ion-list>
  </ion-content>

</ion-view>
