<ion-side-menus>
  <ion-pane ion-side-menu-content drag-content="false">
    <ion-nav-bar class="bar-positive pull-right">
      <!-- <ion-nav-back-button class="button-clear"><i class="icon ion-chevron-left"></i> Back</ion-nav-back-button> -->
    </ion-nav-bar>
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-pane>

  <ion-side-menu side="left">
    <header class="bar bar-header bar-positive">
      <button menu-close class="button button-clear bright-text"><i class="icon ion-chevron-left bright-text"></i> Hide Menu</button>
    </header>
    <ion-content class="has-header dark">
      <ion-list>
        <ion-item nav-clear menu-close href="#/app/newlist" >
          Create New List
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/mylists">
          My Lists
        </ion-item>
        <ion-item nav-clear menu-close href="mailto:ericwooley@gmail.com?subject=Grocery List Feedback">
          Send Feedback
        </ion-item>
        <ion-item nav-clear menu-close href="mailto:ericwooley@gmail.com?subject=Grocery List Suggestion">
          Suggest a Feature
        </ion-item>
        <ion-item nav-clear>
          <h3>Settings</h3>
          <div>
            <ion-toggle ng-model="settings.showFound" toggle-class="toggle-balanced">Show Found Items</ion-toggle>
          </div>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
