<ion-view title="{{myLocation.location.name}}">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
	<a ng-click="goBack()"><button class="button button-icon icon ion-chevron-left"></button></a>
  </ion-nav-buttons>
  <ion-content class="has-header">
  	<ion-list class='list '>
      <ion-item class="item item-divider">
          My Location {{store.meta.name}}
      </ion-item>
  		<ion-item class="item item-avatar" ng-href='#/app/selectlocation'>
  			<img src="{{myLocation.location.icon}}">
     		<p>{{myLocation.location.name}} <br />
          <span class='subtle-text small-text'>
            {{myLocation.location.vicinity}}
          </span>
        </p>
        
      </ion-item>
      <ion-item class="item item-checkbox">
        <label class="checkbox">
           <input type="checkbox" ng-change="automaticLocation()" ng-model='myLocation.automatic'>

         </label>
         Automatic
      </ion-item>
      <ion-item class="item item-divider">
          Other Locations
      </ion-item>
      <span class="item item-select">
        <div class="input-label"></div> <!-- Has to be here for hieght styling -->
        <!-- Overide styles because we don't want a label taking up room -->
        <select style='max-width: 100%; width: 100%; direction: initial; min-height: 50px' ng-model='$parent.storeType' ng-change="automaticLocation()" ng-options="type.humanize().titleize() for type in storeTypes">
        </select>
      </span>
      <span ng-show="storeType == 'search'" class='item'>
        <label class="item item-input">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="text" placeholder="Search" ng-model='$parent.keywords' ng-change='automaticLocation()'>
          </label>
      </span>
      <ion-item class="item item-avatar" ng-repeat='location in locations' ng-click="setLocation(location)">
        <img src="{{location.icon}}">
        <p>{{location.name}}<br />
          <span class='subtle-text small-text'>
            {{location.vicinity}}
          </span></p>
      </ion-item>
	</ion-list>
  </ion-content>

</ion-view>
